.useRef {
    button {
        font-size: 1rem;
        color: white;
        background-color: dodgerblue;
        padding: 8px 15px;
        border-radius: 6px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background-color: #0e80ef;
        }
    }
}